@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #fff;
}
section{
    display: flex;
}
html{
    --navbar-height: 60px;
    --main: #ff8f00;
    --none: #00000000;
    --grue100: #fefeff;
    --grue200: #ebebec;
    --grue300: #cbcbcf;
    --grue400: #aeaeb8;
    --grue500: #85858f;
    --grue600: #4a4a53;
    --grue700: #343438;
    --grue800: #29292e;
    --grue900: #141418;
}
unit{
    color: rgb(255, 143, 0);
}
.hidden {
	display: none;
}
.bold {
	font-weight: 700;
}