.btn {
    width: 20vw;
    height: 20vh;
    display: block;
    margin-left: 40vw;
    margin-top: 30vh;
}
.btn i {
    margin: 65px 0 30px;
}
#weekPayTable {
    height: 100%;
    width: 1000px;
    border-bottom: 2px solid;
    margin: 0;
    display: none;
}
#weekPayTable thead{
    width: 100%;
}
#weekPayTable thead th{
    background: var(--grue300); 
}
#weekPayTable thead th:first-of-type{
    border-top-left-radius: 0px; 
}
#weekPayTable thead th:last-of-type{
    border-top-right-radius: 0px; 
}
#weekPayTable tbody{
    display: block;
}
#weekPayTable thead,
#weekPayTable tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
#roster{
    width: calc(100vw - 1000px);
    padding: 16px 24px;
    display: none;
    position: relative;
    border-left: 2px solid black;
}
#roster button{
    position: fixed;
    right: 24px;
    margin: 0;
    width: 160px;
    height: 54px;
    font-size: 16px;
}
#roster button i{
    margin: 0 8px 0 0;
}
.rosterPage{
    height: 297mm;
}
.rosterHeader{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.rosterDate{
    font-size: 16px;
    text-align: right;
    margin: 0 8px 8px;
}
.rosterTable{
    margin-right: auto;
    margin-left: auto;
}
.rosterTable,.rosterTable tr,.rosterTable th,.rosterTable td{
    border: 1px solid black;
    text-align: center;
    font-weight: 400;
    margin: 0;
}
.rosterTable tr{
    height: 32px;
}
.rosterTable td{
    width: 80px;
}
.rosterTable td:first-child{
    width: 32px;
}
.rosterTable td:last-child{
    width: 120px;
}
@media print {
    body {
        visibility: hidden;
    }
    #roster {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm;
        height: 297mm;
        border-left: none;
    }
    #roster button{
        visibility: hidden;
    }
    /* .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    } */
}