<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sd.schedule.model.memberimpl.MemberMapper">


	
	
	<!-- 멤버 리스트 -->
	<select id="getMemberList" resultType="com.sd.schedule.model.member.MemberVO">
	select * from member order by member_no
	</select>
	
	<!-- 멤버 입력 -->
    <insert id="insertMember">
        insert into member(member_name , member_no) values(#{member_name} , MEMBER_SEQ.NEXTVAL)
    </insert>

	<!-- 멤버 삭제 -->
	<delete id="deleteMember">
		delete from member where member_no=${member_no}
	</delete>





	
</mapper>