<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sd.schedule.model.stationimpl.StationMapper">




	
	<!-- 스테이션 입력 은 같은 시퀀스를 사용하기위해 member로 이동 됨..-->
	
	
	<!-- 스테이션 삭제 -->
	<delete id="deleteStation">
    delete from station where member_name = #{member_name}
	</delete>
	
	<!-- 스테이션 업데이트 -->
	<update id="updateStation">
		UPDATE STATION
		SET
		MEMBER_NAME = #{member_name},
		frei = #{frei},
		grill = #{grill},
		make = #{make},
		expo = #{expo},
		dish = #{dish}
		WHERE
		MEMBER_NO = #{member_no}
	</update>
	
	<!-- 스테이션 이름 추출 -->
	<!-- <select id="selectStationsByMemberNames" parameterType="list" resultType="com.sd.schedule.model.station.StationVO">
		SELECT frei, grill, make, expo, dish, member_name
	    FROM station
	    WHERE member_name IN
		    <foreach collection="list" item="name" open="(" separator="," close=")">
		    #{name}
		    </foreach>
	</select> -->
	
	<select id="selectStationsByMemberNames" parameterType="list" resultType="com.sd.schedule.model.station.StationVO">
    SELECT frei, grill, make, expo, dish, member_name
    FROM station
    <where>
        <if test="list != null and list.size() > 0">
            member_name IN
            <foreach collection="list" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>
        <if test="list == null or list.size() == 0">
            1 = 0
            <!--
            1 은 결국 0 이 되어 아무것도 조회가 되지 않도록함.. 
            결과가 없도록 하여 불필요한 조회를 방지.
            -->
        </if>
    </where></select>
    
    
    <!-- 불필요 멤버 전체 삭제 -->
	<delete id="deleteStations">
		delete from station where member_name in
		<foreach item="member" collection="list" open="(" separator="," close=")">
			#{member.member_name}
		</foreach>
	</delete>
    
    

</mapper>