<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sd.schedule.model.stationimpl.StationMapper">



	<!-- 스테이션 리스트 -->
   <!--  <select id="stationListByUserId" resultType="com.sd.schedule.model.station.StationVO">
        SELECT
        member_name, 
        FREI, 
        GRILL, 
        MAKE, 
        EXPO, 
        DISH
    FROM 
        STATION 
        NATURAL JOIN MEMBER
    WHERE 
        user_id = #{user_id, jdbcType=VARCHAR} 
    </select> -->
	
	
	<!-- 스테이션 입력 -->
	<insert id="insertStation">
	<![CDATA[
	    INSERT INTO station (frei, grill, make, expo, dish, member_name, user_id)
    VALUES
    (
        #{frei,jdbcType=VARCHAR}, 
        #{grill,jdbcType=VARCHAR}, 
        #{make,jdbcType=VARCHAR}, 
        #{expo,jdbcType=VARCHAR}, 
        #{dish,jdbcType=VARCHAR}, 
        #{member_name,jdbcType=VARCHAR}, 
        #{user_id,jdbcType=VARCHAR}
    )
    	]]> 
	</insert>
	
	<!-- 스테이션 삭제 -->
	<delete id="deleteStation">
    delete from station where member_name = #{member_name}
	</delete>
	
	<!-- 스테이션 업데이트 -->
	<update id="updateStation">
		UPDATE STATION
		SET
		frei = #{frei},
		grill = #{grill},
		make = #{make},
		expo = #{expo},
		dish = #{dish}
		WHERE
		MEMBER_NAME = #{member_name}
	</update>
	
	<!-- 스테이션 이름 추출 -->
	<!-- <select id="selectStationsByMemberNames" parameterType="list" resultType="com.sd.schedule.model.station.StationVO">
		SELECT frei, grill, make, expo, dish, member_name
	    FROM station
	    WHERE member_name IN
		    <foreach collection="list" item="name" open="(" separator="," close=")">
		    #{name}
		    </foreach>
	</select> -->
	
	<select id="selectStationsByMemberNames" parameterType="list" resultType="com.sd.schedule.model.station.StationVO">
    SELECT frei, grill, make, expo, dish, member_name
    FROM station
    <where>
        <if test="list != null and list.size() > 0">
            member_name IN
            <foreach collection="list" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>
        <if test="list == null or list.size() == 0">
            1 = 0
        </if>
    </where></select>
    
    
    <!-- 불필요 멤버 전체 삭제 -->
	<delete id="deleteStations">
		delete from station where member_name in
		<foreach item="member" collection="list" open="(" separator="," close=")">
			#{member.member_name}
		</foreach>
	</delete>
    
    

</mapper>