<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<!-- ico -->
    <link rel="icon" type="image/x-icon" href="./img/favi.ico">
	
	<!-- CSS -->
	<link rel="stylesheet" href="./css/button/button.css">
	
	<!-- js -->
 	<script src="./js/button/button.js"></script>
    <script src="./js/memberpage/memberpage.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Memberpage</title>
    
    <style>
    @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
        header {
            background: #333;
            color: #fff;
            padding: 1rem 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }

        #logo {
            height: 75px;
            /* Adjust the height as needed */
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 1rem;
            margin: 1rem 0;
        }

        .nav-links li a,
        #login button {
            color: #fff;
            background: none;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s;
            padding: 0;
        }

        .nav-links li a:hover,
        #login button:hover {
            color: #f4f4f4;
            font-size: 1.4rem;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -ms-transition: 0.3s;
        }
		
        footer {
			    text-align: center;
			    padding: 1rem;
			    background: #333;
			    color: #fff;
			}

    </style>
</head>

<body>

    <header>   
        <nav>
            <div class="logo">
                <a href="/" style="color: white;"><img src="./img/logo.png" id="logo" width="110" alt=""></a>
            </div>
            
            <!-- headerMenu -->
            <ul class="nav-links">
            	 <li>
            	 <a href="schedule">
            	<button class="explore-menu">
				    <div class="beef"></div>
				    <svg class="cheese" viewBox="0 0 160 53">
				        <path d="M0.0742121 22.3328C1.05135 9.72939 11.5807 0 24.2433 0H144.841C151.675 0 157.394 5.17681 158.061 11.9668L159.974 31.4473C160.594 37.7607 150.009 44.9809 143.654 44.9541C124.599 44.8738 103.951 52.2575 84.8988 52.946C69.006 53.5202 56.2241 49.3376 40.3255 48.95C36.4794 48.8563 31.9925 48.9847 27.4027 49.2331C12.0678 50.0627 -1.11087 37.6185 0.0742121 22.3328Z"></path>
				    </svg>
				    <svg class="salad" viewBox="0 0 160 52">
				        <path d="M0 23.2943C0 10.4292 10.3289 0 23.0703 0H134C148.359 0 160 11.9259 160 26.4247C160 40.3873 149.167 51.524 135.347 51.0361C117.842 50.4181 97.0486 49.4757 91.5 49.4757C70.1294 49.4757 70.5419 52 51.5 52C42.911 52 35.0402 51.5166 27.8556 51.0969C13.391 50.252 0 37.9238 0 23.2943Z"></path>
				    </svg>
				    <svg class="ketchup" viewBox="0 0 160 54">
				        <path d="M0 25.2026C0 11.2836 11.2868 0 25.2097 0H134.912C148.768 0 160 11.229 160 25.0808C160 39.2502 148.267 50.5865 134.093 50.5825C127.22 50.5806 120.037 50.6804 114 50.9856C100.688 51.6586 93.3279 53.7853 80 53.9848C63.9475 54.225 55.0442 51.5562 39 50.9856C34.9927 50.8431 30.3922 50.7756 25.7886 50.7535C11.6411 50.6857 0 39.3462 0 25.2026Z"></path>
				    </svg>
				    <div class="top">Roster</div>
				</button>
				</a>
            	</li>
            	
                
                <!-- 로그인 된 경우 -->
                <li th:if="${session.user != null}">
                 <button class="explore-menu" onclick="confirmLogout()">
				    <div class="beef"></div>
				    <svg class="cheese" viewBox="0 0 160 53">
				        <path d="M0.0742121 22.3328C1.05135 9.72939 11.5807 0 24.2433 0H144.841C151.675 0 157.394 5.17681 158.061 11.9668L159.974 31.4473C160.594 37.7607 150.009 44.9809 143.654 44.9541C124.599 44.8738 103.951 52.2575 84.8988 52.946C69.006 53.5202 56.2241 49.3376 40.3255 48.95C36.4794 48.8563 31.9925 48.9847 27.4027 49.2331C12.0678 50.0627 -1.11087 37.6185 0.0742121 22.3328Z"></path>
				    </svg>
				    <svg class="salad" viewBox="0 0 160 52">
				        <path d="M0 23.2943C0 10.4292 10.3289 0 23.0703 0H134C148.359 0 160 11.9259 160 26.4247C160 40.3873 149.167 51.524 135.347 51.0361C117.842 50.4181 97.0486 49.4757 91.5 49.4757C70.1294 49.4757 70.5419 52 51.5 52C42.911 52 35.0402 51.5166 27.8556 51.0969C13.391 50.252 0 37.9238 0 23.2943Z"></path>
				    </svg>
				    <svg class="ketchup" viewBox="0 0 160 54">
				        <path d="M0 25.2026C0 11.2836 11.2868 0 25.2097 0H134.912C148.768 0 160 11.229 160 25.0808C160 39.2502 148.267 50.5865 134.093 50.5825C127.22 50.5806 120.037 50.6804 114 50.9856C100.688 51.6586 93.3279 53.7853 80 53.9848C63.9475 54.225 55.0442 51.5562 39 50.9856C34.9927 50.8431 30.3922 50.7756 25.7886 50.7535C11.6411 50.6857 0 39.3462 0 25.2026Z"></path>
				    </svg>
				    <div class="top">Logout</div>
				</button>
                </li>
            </ul>
        </nav>
    </header>

   <div class="container mt-5">
    <h1>Member Page</h1>
    <div class="row justify-content-end">
        <div class="col-auto">
        
        <div id="search">
            <div class="input-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="MemberSearch">
                <div class="input-group-append" style="margin-bottom: 10px;">
                    <button class="btn btn-outline-secondary" onclick="searchMember()" type="button">Search</button>
                </div>
            </div>
        </div>
            
        </div>
    </div>
    <div id="login">
    
    <!-- 매장 필터 -->
    <div th:if="${session.user.user_id == 'sd-gang'}" style="font-size: 25px;">강남점 입니다. </div>
    <div th:if="${session.user.user_id == 'sd-coex'}" style="font-size: 25px;">코엑스점 입니다. </div>
    <div th:if="${session.user.user_id == 'sd-hong'}" style="font-size: 25px;">홍대점 입니다. </div>
    <div th:if="${session.user.user_id == 'test'}" style="font-size: 25px;">test 계정 입니다. </div>
    <!--  -->
    <div th:text="${count}+' 명'" style="font-size: 20px;"></div>
          
    <!-- insert 하기위한 session user_id-->
    <input type="hidden" id="user_id" th:value="${session.user.user_id}" /> 
    
    <div style="position: relative;">
        <input type="text" id="member_name" class="form-control" placeholder="Enter member name">
        <select id="member_grade" class="form-control mt-2">
            <option value="null">Select Member Grade</option>
            <option value="SM">SM</option>
            <option value="VSM">VSM</option>
            <option value="MGR">MGR</option>
            <option value="CT">CT</option>
            <option value="EMP">EMP</option>
            <option value="PT">PT</option>
        </select><br>
        <input type="button" class="btn btn-primary" value="Insert" onclick="insert()">
        <input type="button" class="btn btn-danger" value="멤버 리뉴얼" onclick="renewal()">
		 
       
    </div>
    
    </div>
    <table class="table table-striped mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Member Name</th>
                <th>Member Grade</th>
            </tr>
        </thead>
        <tbody th:if="${map.list.isEmpty()}">
            <tr>
                <td colspan="3">등록된 멤버가 없습니다.</td>
            </tr>
        </tbody>
        <tbody th:unless="${map.list.size() == 0}">
            <tr th:each="member : ${map.list}">
                <td>
                    <a th:href="'searchMember?name=' + ${member.member_name}">
                        <span th:text="${member.member_name}"></span>
                    </a>
                </td>
                <td th:text="${member.member_grade}"></td>
            </tr>
        </tbody>
    </table>

    <!-- pager -->
    <div class="pagination justify-content-center" style="margin-bottom: 100px;">
        <ul class="pagination">
            <th:block th:if="${map.pager.curBlock > 1}">
                <li class="page-item"><a class="page-link" th:href="@{/memberpage(curPage=1)}">처음</a></li>
                <li class="page-item"><a class="page-link" th:href="@{/memberpage(curPage=${map.pager.prevPage})}">이전</a></li>
            </th:block>
            <th:block th:each="num : ${#numbers.sequence(map.pager.blockBegin, map.pager.blockEnd)}">
                <li class="page-item" th:classappend="${num == map.pager.curPage} ? 'active'">
                    <a class="page-link" th:href="@{/memberpage(curPage=${num})}" th:text="${num}"></a>
                </li>
            </th:block>
            <th:block th:if="${map.pager.curBlock < map.pager.totBlock}">
                <li class="page-item"><a class="page-link" th:href="@{/memberpage(curPage=${map.pager.nextPage})}">다음</a></li>
                <li class="page-item"><a class="page-link" th:href="@{/memberpage(curPage=${map.pager.totPage})}">끝</a></li>
            </th:block>
        </ul>
    </div>
    
</div>

    <script type="text/javascript">
        /* 엔터키 멤버 추가 */
        $(document).ready(function () {
            $("#login").keypress(function (e) {
                if (e.keyCode === 13) {
                    insert();
                }
            });
        });
        
        /* 엔터키 멤버 수정 */
        $(document).ready(function () {
            $("#search").keypress(function (e) {
                if (e.keyCode === 13) {
                    searchMember();
                }
            });
        });

        /* searchMember */
        function searchMember() {
            var name = $("#name").val();
            if(name === ""){
                alert("직원을 입력 해주세요.");
            }else{
                self.location = "searchMember?name=" + name;
            }
        }
        /* 로그아웃 팝업 */
        function confirmLogout() {
            if (confirm("로그아웃하시겠습니까?")) {
                location.href = 'logout';
            }
        }
        
        /* 멤버 리뉴얼 renewal 팝업 */
        function renewal() {
            var width = 400;
            var height = 400;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open('renewal', 'renewal', `width=${width},height=${height},top=${top},left=${left}`);
        }
    </script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
     <footer>
        <p>&copy; Made by Jaewon and Yejun - Alpha Version 2.1 ( 2024.4.25 ~ )</p>
    </footer>
</body>

</html>