<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="./js/memberpage/memberpage.js"></script>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap CDN -->

    <meta charset="UTF-8">
    <title>Memberpage</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Member Page</h1>
        <a href="/" style="font-size: 20px;">Main Page</a>
        <div class="row justify-content-end">
            <div class="col-auto">
            
           	<div id="search">
                <div class="input-group">
                    <input type="text" class="form-control" name="sPrd" id="sPrd" placeholder="MemberSearch">
                    <div class="input-group-append" style="margin-bottom: 10px;">
                        <button class="btn btn-outline-secondary" onclick="searchMember()" type="button">Search</button>
                    </div>
                </div>
           </div>     
                
            </div>
        </div>
        <div id="login">
            <input type="text" id="member_name" class="form-control" placeholder="Enter member name">
            <select id="member_grade" class="form-control mt-2">
                <option value="null">Select Member Grade</option>
                <option value="SM">SM</option>
                <option value="VSM">VSM</option>
                <option value="MGR">MGR</option>
                <option value="CT">CT</option>
                <option value="EMP">EMP</option>
                <option value="PT">PT</option>
            </select>
            <button type="button" class="btn btn-primary mt-2" onclick="insert()">Insert</button>
        </div>
        <table class="table table-striped mt-2">
            <thead class="thead-dark">
                <tr>
                    <th>Member Name</th>
                    <th>Member Grade</th>
                </tr>
            </thead>
            <tbody th:if="${map.list.size() == 0}">
                <tr>
                    <td colspan="3">등록된 멤버가 없습니다.</td>
                </tr>
            </tbody>
            <tbody th:unless="${map.list.size() == 0}">
                <tr th:each="member : ${map.list}">
                    <td>
					    <a th:href="'searchMember?sPrd=' + ${member.member_name}">
					        <span th:text="${member.member_name}"></span>
					    </a>
					</td>
					<td th:text="${member.member_grade}"></td>
                </tr>
            </tbody>
        </table>

        <!-- pager -->
        <!--   <div class="pagination justify-content-center">
            <ul class="pagination">
                <th:block th:if="${map.pager.curBlock > 1}">
                    <li class="page-item"><a class="page-link" th:href="@{/searchMember(curPage=1)}">처음</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/searchMember(curPage=${map.pager.prevPage})}">이전</a></li>
                </th:block>
                <th:block th:each="num : ${#numbers.sequence(map.pager.blockBegin, map.pager.blockEnd)}">
                    <li class="page-item" th:classappend="${num == map.pager.curPage} ? 'active'">
                        <a class="page-link" th:href="@{/searchMember(curPage=${num})}" th:text="${num}"></a>
                    </li>
                </th:block>
                <th:block th:if="${map.pager.curBlock < map.pager.totBlock}">
                    <li class="page-item"><a class="page-link" th:href="@{/searchMember(curPage=${map.pager.nextPage})}">다음</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/searchMember(curPage=${map.pager.totPage})}">끝</a></li>
                </th:block>
            </ul>
        </div> -->
        
        
        
    </div> 
    <script type="text/javascript">
        /* 엔터키 멤버 추가 */
        $(document).ready(function () {
            $("#login").keypress(function (e) {
                if (e.keyCode === 13) {
                    insert();
                }
            });
        });
        
        /* 엔터키 멤버 수정 */
        $(document).ready(function () {
            $("#search").keypress(function (e) {
                if (e.keyCode === 13) {
                	searchMember();
                }
            });
        });

        /* searchMember */
        function searchMember() {
            var sea = $("#sPrd").val();
            self.location = "searchMember?sPrd=" + sea;
        }
      
        
    </script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>