<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="./js/memberpage/memberpage.js"></script>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    <link rel="stylesheet" href="./css/memberpage/memberpage.css">
    <!-- css -->

    <meta charset="UTF-8">
    <title>Memberpage</title>



</head>

<body>

    <h1>memberPage</h1>
    <a href="/"> mainPage</a>


    <table>
        <tr>
            <th>memberName</th>
        </tr>
        <tr th:each="member : ${list}">
            <td th:text="${member.member_name}"></td>
            <td th:text="${member.member_grade}"></td>
            <td>
                <input type="hidden" class="member_no" th:value="${member.member_no}" />
                <input type="button" value="X" onclick="deleteMember(this)">
            </td>
        </tr>
    </table>



    <div id="login">
        <input type="text" id="member_name" placeholder="직원 등록 해주세요.">
        <select id="member_grade">
            <option value="null">직급 선택</option>
            <option value="SM">SM</option> <!-- Store Manager / 점장 -->
            <option value="VSM">VSM</option> <!-- Vice Store Manager / 부점장 -->
            <option value="MGR">MGR</option> <!-- Manager / 매니저 -->
            <option value="CT">CT</option> <!-- Captain / 캡틴 -->
            <option value="EMP">EMP</option> <!-- Employee / 정직원 -->
            <option value="PT">PT</option> <!-- PartTime / 파트타임 -->
        </select>

        <button type="button" onclick="insert()">insert</button><br>
    </div>

</body>

</html>