<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Renewal</title>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Renewal
        </div>
        <div class="card-body">
            <p><b style="font-size: 20px;">퇴사한 직원이 많을 경우<br>
             한번에 리뉴얼 해주는 페이지 입니다.</b><br><br>
            최신 엑셀 파일을 업로드 하여 엑셀에 등록된 직원들을 추출하고<br>
            DB(memberPage)와 비교하여 최신 엑셀에 등록되지 않은<br>
            퇴사한 직원들을 삭제 후 리뉴얼 해줍니다.<br>
            신입으로 들어온 직원은 이전과 동일하게 insert 해주면 됩니다.<br><br>
            <b style="color: red;">*주의* 최신 엑셀 파일을 업로드 해주세요.</b>
            </p>
            
            <!-- 파일 업로드 폼 -->
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file"><b>엑셀 파일 업로드:</b></label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-danger">멤버 정리</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#uploadForm').on('submit', function(e) {
        e.preventDefault(); // 폼의 기본 제출 동작을 막음

        var formData = new FormData(this);

        $.ajax({
            url: '/uploadExcel',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                if (response && response.length > 0) {
                    alert('삭제된 이름: ' + response.join(', '));
                } else {
                    alert('삭제할 멤버가 없습니다.');
                }
                window.opener.location.reload(); // 메인 페이지 새로고침
                window.close(); // 팝업 창 닫기
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('업로드 실패:', textStatus, errorThrown);
            }
        });
    });
});
</script>

</body>
</html>