<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="./js/memberpage/memberpage.js"></script>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap CDN -->
	
    <meta charset="UTF-8">
    <title>SearchMember</title>
</head>

<body>
    <div class="container mt-5">
        <a href="memberpage"><h1>Member Page</h1></a>
        <a href="/" style="font-size: 20px;">Main Page</a>
        <div class="row justify-content-end">
            <div class="col-auto">
            
          		<div id="search">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="MemberSearch">
                    <div class="input-group-append" style="margin-bottom: 10px;">
                        <button class="btn btn-outline-secondary" onclick="searchMember()" type="button">Search</button>
                    </div>
                </div>
         	  </div>  
            </div>
        </div>
        
        <table class="table table-striped mt-2">
            <thead class="thead-dark">
                <tr>
                    <th>Member Name</th>
                    <th>Member Grade</th>
                    <th>Store</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody th:if="${map.list.size() == 0}">
                <tr>
                    <td colspan="3">등록된 멤버가 없습니다.</td>
                </tr>
            </tbody>
            <tbody th:if="${not #lists.isEmpty(map.list)}">
		    <tr th:each="member : ${map.list}">
		        <td><input type="text" class="member_name" th:value="${member.member_name}" /></td>
		        <td>
		            <select class="member_grade" th:value="${member.member_grade}">
		                <option value="null">Select Member Grade</option>
		                <option th:selected="${member.member_grade == 'SM'}" value="SM">SM</option>
		                <option th:selected="${member.member_grade == 'VSM'}" value="VSM">VSM</option>
		                <option th:selected="${member.member_grade == 'MGR'}" value="MGR">MGR</option>
		                <option th:selected="${member.member_grade == 'CT'}" value="CT">CT</option>
		                <option th:selected="${member.member_grade == 'EMP'}" value="EMP">EMP</option>
		                <option th:selected="${member.member_grade == 'PT'}" value="PT">PT</option>
		            </select>
		        </td>
		        <td><input type="text" id="user_id" th:value="${member.user_id}" readonly style="border: none; outline: none; width: 20px;" /></td>
		        <td>
		            <input type="hidden" class="member_no" th:value="${member.member_no}" />
		            <input type="hidden" th:value="${member.member_name}" />
		            <button type="button" class="btn btn-primary update-btn" onclick="update(this)">Update</button>
		            <button type="button" class="btn btn-danger delete-btn" onclick="deleteMember(this)">Delete</button>
		        </td>
		    </tr>
		</tbody>
        </table>

        
    </div>
    <script type="text/javascript">
       
	    /* 엔터키 멤버 추가 */
	    $(document).ready(function () {
	        $("#login").keypress(function (e) {
	            if (e.keyCode === 13) {
	                insert();
	            }
	        });
	    });
	    
	    /* 엔터키 멤버 수정 */
	    $(document).ready(function () {
	        $("#search").keypress(function (e) {
	            if (e.keyCode === 13) {
	            	searchMember();
	            }
	        });
	    });


        /* searchMember */
        function searchMember() {
            var name = $("#name").val();
            if(name === ""){
            	alert("직원을 입력 해주세요.");
            }else{
            self.location = "searchMember?name=" + name;
            }
        }
    </script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>