<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="./css/main/main.css">
    <!-- css -->
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    
    

<meta charset="UTF-8">
<title>SUPER DUPER</title>
</head>
<body>

<div class="container">
        <div>
        <h3>MENU</h3>
        </div>
        <ul class="li-con">
            <li class="li-item">
               <a href="schedule" style="color: white;"><h1>Schedule</h1></a>
            </li>
            <li class="li-item">
               <a href="memberpage" style="color: white;"><h1>Memberpage</h1></a>
            </li>
            <li class="li-item">
               
            </li>
            <li class="li-item">
               
            </li>
        </ul>
    </div>
<!-- SD logo -->
<img src="./img/logo.png" id="logo" width="180" alt="">


</body>
</html>