<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="./css/main/main.css">
    <!-- css -->
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    
    

<meta charset="UTF-8">
<title>SUPER DUPER</title>
</head>
<body>

<div class="container">
    <div><h3>MENU</h3></div>
    <ul class="li-con">
        <li class="li-item">
            <a href="schedule" style="color: white;"><h2>Schedule</h2></a>
        </li>
        <li class="li-item">
            <a href="memberpage" style="color: white;"><h2>Memberpage</h2></a>
        </li>
        <li class="li-item">
            
        </li>
        <li class="li-item">
            
        </li>
    </ul>
</div>
    
    
    
<!-- SD logo -->
<img src="./img/logo.png" id="logo" width="180" alt="">
 
 <!-- Notice -->
<div id="version">
<span style="font-size: 100px;">Alpha Version 1.02</span><br><br>
<span style="font-size: 35px;">Made by Jaewon and Yejun ( 2024.4.25 ~ )</span><br><br><br><br>
<!-- --------------------------------------------------------------------------------------- -->
<span style="font-size: 25px; color: red;"> <b>UPDATE</b> </span><br>
<!-- --------------------------------------------------------------------------------------- -->
<span style="font-size: 20px;">1. MemberPage 에 검색기능과 Pager 를 추가 하였습니다. </span><br>
<span style="font-size: 20px;">2. Schedule 상단 메뉴바 가 추가 되었습니다. </span><br>
<span style="font-size: 20px;">3. Search 파라미터를 sPrd 에서 name 으로 연관성 있게 수정 하였습니다. </span><br>
<span style="font-size: 20px;">4. SearchMember 에서 공백 상태에 Search 를 누를 경우 다수가 출력 되던 부분을 alert 팝업이 뜨게 하여 예외 를 방지할수 있게 하였습니다. </span><br>
<span style="font-size: 20px;">5. 로그인 / 아웃 기능이 추가 되었습니다. </span><br>
<span style="font-size: 20px;"><b>6. 로그인 된 매장 에서 해당 매장 직원 만 memeberList 에 등록 / 출력 되도록 SQL 수정 할 예정입니다.</b></span><br>

</div>

	
 	<script type="text/javascript">
 	
		/* 로그인 팝업 */ 		
        function openLoginPopup() {
            var width = 400;
            var height = 400;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open('loginpage', 'loginPopup', `width=${width},height=${height},top=${top},left=${left}`);
        }
        
        
        /* 로그아웃 팝업 */
        function confirmLogout() {
            if (confirm("로그아웃하시겠습니까?")) {
                location.href = 'logout';
            }
        }
    </script>


 	<!-- 로그인 안된 경우 -->
<div th:if="${session.user == null}">
    <div id="login">
        <button class="signup-btn" onclick="openLoginPopup()">Login</button>
    </div>
</div>

<!-- 로그인 된 경우 -->
<div th:if="${session.user != null}">
    <div id="login">
        <button class="signup-btn logout-btn" onclick="confirmLogout()">Logout</button>
    </div>
    <div id="login_hello">
    <p style="font-size: 20px;" th:text="'안녕하세요! ' + ${session.user.user_id}+' 매장 입니다.'"></p>
    </div>
</div>



</body>
</html>