<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="./css/main/main.css">
    <!-- css -->
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- jQuery -->
    
    

<meta charset="UTF-8">
<title>SUPER DUPER</title>
</head>
<body>

<div class="container">
    <div><h3>MENU</h3></div>
    <ul class="li-con">
        <li class="li-item">
            <a href="schedule" style="color: white;"><h2>Schedule</h2></a>
        </li>
        <li class="li-item">
            <a href="memberpage" style="color: white;"><h2>Memberpage</h2></a>
        </li>
        <li class="li-item">
            
        </li>
        <li class="li-item">
            
        </li>
    </ul>
</div>
    
    
    
<!-- SD logo -->
<img src="./img/logo.png" id="logo" width="180" alt="">
 
 <!-- Notice -->
<div id="version">
<span style="font-size: 100px;">Alpha Version 1.04</span><br><br>
<span style="font-size: 35px;">Made by Jaewon and Yejun ( 2024.4.25 ~ )</span><br><br><br><br>
<!-- --------------------------------------------------------------------------------------- -->
<span style="font-size: 25px; color: red;"> <b>UPDATE</b> </span><br>
<!-- --------------------------------------------------------------------------------------- -->

<span style="font-size: 20px;">1. memberPage 에 매장이 a 든 b 든 똑같은 카운트로 인식하여 page 수가 늘어나는 현상을 수정하였습니다.</span><br>
<span style="font-size: 20px;">2. b 매장으로 편입 되어도 a roster 에 인식되는 문제를 where user_id 를 통해수정 하였습니다.</span><br>
<span style="font-size: 20px;"><b>오류 search 를 할경우 다른매장의 멤버도 검색 결과에 출력 되는것을 수정 할것</b></span><br>
<span style="font-size: 20px;"><b>오류 로그인 시에만 메뉴 사용할수 있도록 팝업 설정할것</b></span><br>
<span style="font-size: 20px;"><b>오류 어드민 계정 만들것</b></span><br>


</div>

	
 	<script type="text/javascript">
 	
		/* 로그인 팝업 */ 		
        function openLoginPopup() {
            var width = 400;
            var height = 400;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open('loginpage', 'loginPopup', `width=${width},height=${height},top=${top},left=${left}`);
        }
        
        
        /* 로그아웃 팝업 */
        function confirmLogout() {
            if (confirm("로그아웃하시겠습니까?")) {
                location.href = 'logout';
            }
        }
    </script>


 	<!-- 로그인 안된 경우 -->
<div th:if="${session.user == null}">
    <div id="login">
        <button class="signup-btn" onclick="openLoginPopup()">Login</button>
    </div>
</div>

<!-- 로그인 된 경우 -->
<div th:if="${session.user != null}">
    <div id="login">
        <button class="signup-btn logout-btn" onclick="confirmLogout()">Logout</button>
    </div>
    <div id="login_hello">
    <p style="font-size: 20px;" th:text="'안녕하세요! ' + ${session.user.user_id}+' 매장 입니다.'"></p>
    </div>
</div>



</body>
</html>